/*


 */

/* line 5, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/Eric/.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, /Users/Eric/Development/sup/app/assets/stylesheets/base.css.sass */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, /Users/Eric/Development/sup/app/assets/stylesheets/base.css.sass */
body {
  width: 900px;
  padding: 40px 0px;
  margin: 30px auto 0px auto;
  text-rendering: optimizeLegibility;
  font-family: "Adobe Garamond W08", "Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 17, /Users/Eric/Development/sup/app/assets/stylesheets/base.css.sass */
a {
  color: black;
  text-decoration: none;
}
/* line 20, /Users/Eric/Development/sup/app/assets/stylesheets/base.css.sass */
a:visited {
  color: black;
}

/* line 23, /Users/Eric/Development/sup/app/assets/stylesheets/base.css.sass */
.avant-garde-header {
  font-family: "ITC Avant Garde Gothic W04", "Avant Garde", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0;
  font-size: 13px;
  text-align: center;
}
/* line 5, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#welcome h1, body#meeting h1 {
  font-family: 'times new roman', serif;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0px;
}
/* line 11, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#welcome p, body#meeting p {
  margin: 15px 0px;
}
/* line 14, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#welcome div.section-title, body#welcome strong, body#meeting div.section-title, body#meeting strong {
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

/* line 22, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#welcome div.post-script, body#meeting div.post-script, body#meeting-followup div.post-script {
  color: #999999;
  margin-top: 40px;
}
/* line 25, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#welcome div.post-script ul, body#meeting div.post-script ul, body#meeting-followup div.post-script ul {
  margin-top: 10px;
}

/* line 34, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#meeting-followup p {
  font-family: arial, sans-serif;
}
/* line 37, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#meeting-followup #meeting-confirmation-buttons {
  width: 400px;
}
/* line 39, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#meeting-followup #meeting-confirmation-buttons a, body#meeting-followup #meeting-confirmation-buttons input {
  width: 100%;
  padding: 15px 0px;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "AvantGardeGothicITCW01D 731075","Helvetica Neue",Arial,Helvetica,sans-serif;
  border: 2px solid black;
  margin: 10px 0;
  font-weight: bold;
  text-decoration: none;
}
/* line 54, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#meeting-followup #meeting-confirmation-buttons a:nth-child(0) {
  background-color: #6600cc;
}
/* line 57, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#meeting-followup #meeting-confirmation-buttons a:nth-child(1) {
  background-color: #5501ae;
}
/* line 60, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#meeting-followup #meeting-confirmation-buttons a:nth-child(2) {
  background-color: #46048e;
}
/* line 63, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#meeting-followup #meeting-confirmation-buttons a:nth-child(3) {
  background-color: #370570;
}
/* line 66, /Users/Eric/Development/sup/app/assets/stylesheets/emails.scss */
body#meeting-followup #meeting-confirmation-buttons a:nth-child(4) {
  background-color: #280551;
}
/* line 3, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
input,
button,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 8, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.black-button, .white-button {
  display: inline-block;
  font-family: "ITC Avant Garde Gothic W04", "Avant Garde", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
  padding: 15px 30px;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
  border: none;
  -moz-transition: background-color 0.25s, color 0.25s;
  -o-transition: background-color 0.25s, color 0.25s;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}
/* line 21, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.black-button:visited, .white-button:visited {
  color: white;
}
/* line 23, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.black-button:focus, .white-button:focus, .black-button:hover, .white-button:hover {
  outline: none;
  background-color: transparent;
  color: white;
  background-color: #6a0bc1;
}

/* line 30, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.white-button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
}
/* line 35, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.white-button:hover {
  background-color: white;
  color: #6a0bc1;
  border-color: #6a0bc1;
}

/* line 40, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.button--block {
  display: block;
  width: 100%;
  margin: 10px 0;
}

/* line 45, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.bordered-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 10px;
  border: 2px solid #e5e5e5;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  background-color: transparent;
  -moz-transition: gray 0.25s;
  -o-transition: gray 0.25s;
  -webkit-transition: gray 0.25s;
  transition: gray 0.25s;
  font-family: "Adobe Garamond W08", "Garamond", serif;
}
/* line 56, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.bordered-input:focus, .bordered-input:active {
  border-color: #6a0bc1;
  outline: none;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

/* line 61, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.stacked-form {
  margin: 40px 0;
}
/* line 63, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.stacked-form > label {
  display: block;
  margin: 5px 0;
}
/* line 66, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.stacked-form > input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

/* line 71, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.avant-garde-label {
  font-family: "ITC Avant Garde Gothic W04", "Avant Garde", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  font-size: 11px;
}

/* line 76, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.check-box {
  margin: 5px 0;
  user-select: none;
}
/* line 80, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.check-box label:hover {
  color: #6a0bc1;
}

/* line 83, /Users/Eric/Development/sup/app/assets/stylesheets/forms.css.sass */
.check-box-container {
  padding: 10px;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  margin: 20px 0;
}
/* line 3, /Users/Eric/Development/sup/app/assets/stylesheets/header.css.sass */
#logo {
  padding-bottom: 20px;
  font-size: 27px;
}

/* line 7, /Users/Eric/Development/sup/app/assets/stylesheets/header.css.sass */
.page-header {
  font-family: "ITC Avant Garde Gothic W04", "Avant Garde", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
}
/* line 17, /Users/Eric/Development/sup/app/assets/stylesheets/header.css.sass */
.page-header > nav > a {
  display: inline-block;
  padding: 16px 10.5px 14px 10.5px;
  font-size: 13px;
  color: black;
  -moz-transition: color, 0.25s;
  -o-transition: color, 0.25s;
  -webkit-transition: color, 0.25s;
  transition: color, 0.25s;
}
/* line 23, /Users/Eric/Development/sup/app/assets/stylesheets/header.css.sass */
.page-header > nav > a:hover {
  color: #6a0bc1;
}

/* line 26, /Users/Eric/Development/sup/app/assets/stylesheets/header.css.sass */
.page-header-logo-link {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: transparent url("/../assets/images/artsy_mark_purple.png") center center no-repeat;
  text-indent: -99999px;
}
/* line 3, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
#error_explanation {
  margin-left: 10px;
}
/* line 5, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
#error_explanation .error-list {
  margin-bottom: 25px;
  color: #6a0bc1;
}

/* line 9, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.edit-title {
  font-size: 18px;
  margin: 20px 0;
}

/* line 13, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.info {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}
/* line 17, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.info span {
  color: #ccc;
}
/* line 19, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.info span:hover {
  color: #6a0bc1;
}

/* line 22, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.member-list {
  width: 100%;
  margin: 20px 0;
}

/* line 25, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.member-list-item {
  width: 100%;
  display: block;
  border-top: 2px solid #e5e5e5;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
  color: black;
  font-weight: bold;
}
/* line 33, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.member-list-item:last-child {
  border-bottom: 2px solid #e5e5e5;
}
/* line 35, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.member-list-item:hover {
  background-color: #e5e5e5;
  color: #6a0bc1;
}
/* line 38, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.member-list-item:after {
  content: "";
  float: right;
  width: 12px;
  height: 18px;
  background-image: url("/assets/chevron_right.png");
}
/* line 44, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
.member-list-item.inactive {
  color: #e5e5e5;
}

/* line 48, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
#comment-form h2 {
  font-family: "ITC Avant Garde Gothic W04", "Avant Garde", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  margin: 10px 0;
}
/* line 52, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
#comment-form h2,
#comment-form h3 {
  text-align: center;
}
/* line 55, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
#comment-form textarea {
  width: 100%;
  height: 90px;
  margin: 20px 0;
}

/* line 61, /Users/Eric/Development/sup/app/assets/stylesheets/member.css.sass */
svg#d3vis {
  position: absolute;
  left: 0;
  top: 0;
}
